@page "/AnimeImage"
@inject GuessTheBeat.Components.Services.AnimeSongService AnimeSongService

<h3>Anime Image Details</h3>

@if (animeInfo == null)
{
    <p>Loading...</p>
}
else if (animeInfo.AnimeInfo == null)
{
    <p>No image details available.</p>
}
else
{
    <div>
        <p>ID: @animeInfo.AnimeInfo.Id</p>
        <p>Name: @animeInfo.AnimeInfo.Name</p>
        <p>Slug: @animeInfo.AnimeInfo.Slug</p>
        <p>Year: @animeInfo.AnimeInfo.Year</p>
        <p>Season: @animeInfo.AnimeInfo.Season</p>
        <p>Media Format: @animeInfo.AnimeInfo.MediaFormat</p>
        <p>Synopsis: @animeInfo.AnimeInfo.Synopsis</p>
        <p>Created At: @animeInfo.AnimeInfo.CreatedAt</p>
        <p>Updated At: @animeInfo.AnimeInfo.UpdatedAt</p>
        <p>Deleted At: @animeInfo.AnimeInfo.DeletedAt</p>
    </div>
}

@code {
    private GuessTheBeat.Components.Models.AnimeImage animeImage;
    private GuessTheBeat.Components.Models.GetAnime animeInfo;

    protected override async Task OnInitializedAsync()
    {
        string animeSlug = "bakemonogatari";
        var animeName = "bakemonogatari";
        var imageId = 435;
        animeImage = await AnimeSongService.GetAnimeImageAsync(imageId);
        animeInfo = await AnimeSongService.GetAnimeInfoAsync(animeSlug);
    }
}
